:root {
  --primary-text-font: 'Roboto', sans-serif;
  --secondary-text-font: 'Raleway', sans-serif;
  --general-white: #ffffff;
  --general-black: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --tertiary-background-color: #e5e5e5;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  font-family: var(--primary-text-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header section */
.header .container {
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-footer {
  color: var(--general-white);
}
.logo-header {
  color: var(--general-black);
}
/* navigation section */

.site-navigation {
  display: flex;
  align-items: center;
}
.site-navigation-list {
  display: flex;
  margin-left: 93px;
}
.site-navigation-item:not(:last-child) {
  margin-right: 50px;
}
.site-navigation-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--transition-function);
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--accent-color);
}

.site-navigation-link.current {
  position: relative;
  color: var(--accent-color);
}

.site-navigation-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transform: scaleX(0);
  transition: transform var(--transition-duration) var(--transition-function),
    opacity var(--transition-duration) var(--transition-function);
}
.site-navigation-link:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.site-navigation-link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background: var(--accent-color);
}

.contacts-item {
  display: flex;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-function),
    fill var(--transition-duration) var(--transition-function);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

/* hero section */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-background-color);
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  word-wrap: break-word;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--general-white);
}
.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: var(--general-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--transition-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* modal */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--general-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}
.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--general-white);
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-function);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}
/* form */
.form {
  padding: 40px;
  background: var(--general-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--primary-text-color);
}
.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  text-align: start;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.form-input,
.form-comment {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border var(--transition-duration) var(--transition-function);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-duration) var(--transition-function);
}
.form-input:focus,
.form-comment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.comment-field {
  margin-bottom: 20px;
}
.form-comment {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.checkbox-field {
  margin-bottom: 30px;
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.checkbox-form {
  position: absolute;
  appearance: none;
}
.checkbox-icon {
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function);
}
.checkbox-form:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}

.checkbox-text {
  display: inline-block;
}
.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: underline;
  color: var(--accent-color);
}
.send-button {
  margin: 0 auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--general-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color var(--transition-duration) var(--transition-function);
}
.send-button:hover {
  background-color: #188ce8;
}

/* main section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
.advantages-list {
  display: flex;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-item {
  width: 270px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.advantages-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.advantages-text {
  word-wrap: break-word;
}
/* what we do section*/
.what-we-do-list {
  display: flex;
}
.what-we-do-section {
  padding-top: 0;
}
.what-we-do-item {
  position: relative;
}
.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-item-overlay-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* our team section */
.teammate-list {
  display: flex;
}
.teammate-section {
  background-color: var(--secondary-background-color);
}

.teammate-item {
  background-color: var(--general-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammate-description {
  padding: 30px 0 30px 0;
}
.teammate-item:not(:last-child) {
  margin-right: 30px;
}
.teammate-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;

  color: var(--primary-text-color);
}
.teammate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}
.socials-item {
  fill: currentColor;
}
.socials-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-color);
  transition: fill var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  fill: var(--general-white);
}
/* clients section */
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  transition: fill var(--transition-duration) var(--transition-function),
    border var(--transition-duration) var(--transition-function);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* portafolio start */
/* buttons section */
.filter {
  padding-top: 0;
}

.filter-buttons-list {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.filter-button {
  padding: 6px 22px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function),
    box-shadow var(--transition-duration) var(--transition-function);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--general-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-button-item:not(:last-child) {
  margin-right: 8px;
}
/* portfolio section */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  /* margin: -15px; */
}
/* .portfolio-item {
  margin: 15px;
} */
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--general-white);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--transition-duration) var(--transition-function),
    opacity var(--transition-duration) var(--transition-function);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-card-thumb {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/* portfolio end */
/* footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* address section */
.footer .logo {
  padding: 0;
}
.address {
  margin-top: 20px;
  font-style: normal;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--footer-contacts-color);
  transition: color var(--transition-duration) var(--transition-function);
}
.address-link:hover,
.address-link:focus {
  color: var(--general-white);
}
/* socials section */
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  margin-left: 70px;
}
.footer-socials-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--general-white);
}
.footer-socials-list {
  display: flex;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--general-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
  fill: var(--general-white);
}
/* subscribe section */
.footer-subscribe {
  margin-left: 93px;
}
.subscribe-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-function);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.subscribe-button {
  display: inline-flex;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: var(--);
  color: var(--general-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-duration) var(--transition-function);
}

.subscribe-button:hover,
.subscribe-button:focus {
  cursor: pointer;
  color: var(--general-white);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subs-icon {
  margin-left: 10px;
}
