.what-we-do {
  padding-top: 0;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item-overlay-title {
    position: absolute;
    @include centredFlex;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $general-white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
