.footer-address {
  flex-grow: 1;
}
.address {
  margin-top: 20px;
  font-style: normal;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    color: $footer-contacts-color;
    transition: color $transition-duration $transition-function;

    &:hover,
    &:focus {
      color: $general-white;
    }
  }
}
